
.editor-container{
    display: flex;
    flex-direction: column;
    flex-flow: column;
}
.editor-container > div {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.editor-container div > mat-card {
    height: 100%;
}
.htmlInst{
    width: 100%;
    height: 100%;
}

mat-card mat-card-content {
     height: 35vh;
}
.preview{
    display: flex;
    flex-flow: column;
}