<div class="row">
    <div class="column1 col-6  p-0">
        <div class="editor-container">
            <div class="row">
                <div class="column">
                    <div class="container">
                    <button mat-button class="btn" color="primary" (click)="htmlclick()">HTML</button>
                    <button mat-button class="btn" color="primary" (click)="cssclick()">CSS</button>
                    <button mat-button class="btn" color="primary" (click)="jsclick()">JS</button>
                    </div>
                </div>
            </div>
            <div *ngIf="inputhtml">
                <mat-card class="codeinst">
                    <!-- <mat-card-header>
                        <mat-card-title>HTML</mat-card-title>

                    </mat-card-header> -->
                    <mat-card-content class="">
                        <app-editor [_code]="htmlCode" (codeEmitter)="updatePreview($event,'html')" class="htmlInst">
                        </app-editor>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="inputcss">
                <mat-card class="codeinst">
                    <!-- <mat-card-header>
                        <mat-card-title>CSS</mat-card-title>
                      
                    </mat-card-header> -->
                    <mat-card-content>
                        <app-editor [_code]="cssCode" (codeEmitter)="updatePreview($event,'css')" class="htmlInst">
                        </app-editor>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="inputjs">
                <mat-card class="codeinst">
                    <!-- <mat-card-header>
                        <mat-card-title>JS</mat-card-title>
               
                    </mat-card-header> -->
                    <mat-card-content>
                        <app-editor [_code]="jsCode" (codeEmitter)="updatePreview($event,'js')" class="htmlInst">
                        </app-editor>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-6 p-0">
        <app-output [preview]="html"></app-output>
    </div>
</div>