<div class="row">
    <div class="column1">
        <div class="editor-container">
            <div>
                <mat-card class="codeinst">
                    <mat-card-header>
                        <mat-card-title>HTML</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-editor [_code]="htmlCode" (codeEmitter)="updatePreview($event,'html')" class="htmlInst">
                        </app-editor>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card class="codeinst">
                    <mat-card-header>
                        <mat-card-title>CSS</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-editor [_code]="cssCode" (codeEmitter)="updatePreview($event,'css')" class="htmlInst">
                        </app-editor>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card class="codeinst">
                    <mat-card-header>
                        <mat-card-title>JS</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-editor [_code]="jsCode" (codeEmitter)="updatePreview($event,'js')" class="htmlInst">
                        </app-editor>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="">
        <app-output [preview]="html"></app-output>
    </div>
</div>